<%= form_for(@book) do |f| %>

  <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :Body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Book' %>
  </div>
<% end %>
